*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background: url(juh.jpg) no-repeat
;
background-size: cover;
}
.box{
    width: 500px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    color:white;
    text-align: center;
    border-radius: 15px;

}
.box-img{
    border-radius: 50px;
}
.box h1{
font-size: 40px;
letter-spacing: 3px;
font-weight: 100;
margin: 30px 0 20px;
}

.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;

}
.box p {
text-align: justify ;
}
.box ul li a {

    color: white;
    font-size: 45px;
    padding: 10px 5px;
}














