*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background: url(juh.jpg) no-repeat
;
background-size: cover;
font-family: 'Courier New', Courier, monospace;

}
.box{
    width: 500px;
    background-color: black;
    
}